
link-life-ibator-generated/target/classes/META-INF/maven/link-life/link-life-ibator-generated/pom.properties

link-life-web-base/target/classes/META-INF/maven/link-life/link-life-web-base/pom.properties

link-life-site/target/m2e-wtp/web-resources/META-INF/maven/link-life/link-life-site/pom.properties
